/*$background-test: ($background-color, 13.5%);*/
/*$brand: #0082ab;*/
/*$brand-inactive: #0057ab;
$brand-hover: #00c0f2;
$brand-active: #0057ab;*/
/*$brand: #0083a5;*/
/*$primary: #0083a5;*/
/*$primary: #0ec5ff;*/
/*$primary: #20a8d8;*/
/*$primary: #00c0f2;*/
/*$primary-inactive: #0095c5;
$primary-hover: #00c0f2;
$primary-active: #0066ab;*/
/*$info: #00c0f2;
$info-active: #00acf2;
$info-inactive: #00d4f2;*/
/*$grey: #cfd8dc;*/
/*$danger: #ff4835;*/
/*$danger: #f23200;*/
/*$success: #00d8cf;*/
/*$font_0: 'fontAwesome';
$font_1: 'Helvetica Neue';
$font_2: 'Helvetica';
$font_3: 'Arial';
$font_4: 'sans-serif';*/
/*$sub-brand-orange: #f74141;*/
/*$background-test: ($background-color, 13.5%);*/
/*$brand: #0082ab;*/
/*$brand-inactive: #0057ab;
$brand-hover: #00c0f2;
$brand-active: #0057ab;*/
/*$brand: #0083a5;*/
/*$primary: #0083a5;*/
/*$primary: #0ec5ff;*/
/*$primary: #20a8d8;*/
/*$primary: #00c0f2;*/
/*$primary-inactive: #0095c5;
$primary-hover: #00c0f2;
$primary-active: #0066ab;*/
/*$info: #00c0f2;
$info-active: #00acf2;
$info-inactive: #00d4f2;*/
/*$grey: #cfd8dc;*/
/*$danger: #ff4835;*/
/*$danger: #f23200;*/
/*$success: #00d8cf;*/
/*$font_0: 'fontAwesome';
$font_1: 'Helvetica Neue';
$font_2: 'Helvetica';
$font_3: 'Arial';
$font_4: 'sans-serif';*/
/*$sub-brand-orange: #f74141;*/
/* General Links */
a {
  color: #73879c;
  text-decoration: none !important;
}

a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none !important;
  color: #31b0d5;
}

.bg-white {
  background-color: #fff !important;
}

.bg-red {
  background-color: #d43f3a !important;
}

.bg-blue {
  background-color: #0066ab !important;
}

.bg-blue {
  background-color: #0066ab !important;
}

.bg-green {
  background-color: #00a59e !important;
}

.bg-black {
  background-color: #2f3943 !important;
}

.bg-grey {
  background-color: #f2f3f6 !important;
}

.bg-grey-background {
  background-color: #f2f3f6 !important;
}

.bg-yellow {
  background-color: #ffc026 !important;
}

.bg-logo-grey {
  background-color: #b8c2cd !important;
  color: #fff !important;
}

.bg-logo-grey-second {
  background-color: #c1ccd3 !important;
  color: #fff !important;
}

.bg-logo-grey-third {
  background-color: #acb8c5 !important;
  color: #fff !important;
}

.bg-sub-brand-blue {
  background-color: #0066cc !important;
  color: #fff !important;
}

.bg-sub-brand-orange {
  background-color: #ff4936 !important;
  color: #fff !important;
}

.bg-sub-brand-green {
  background-color: #66cc99 !important;
  color: #fff !important;
}

.bg-sub-brand-light-blue {
  background-color: #32a2d7 !important;
  color: #fff !important;
}

.bg-brand, .label-brand, .modal-brand .modal-brand {
  background-color: #0083a5 !important;
  color: #fff;
}

.bg-primary, .label-primary, .modal-primary .modal-primary {
  background-color: #0083a5 !important;
  color: #fff;
}

.bg-primary-active {
  background-color: #0066ab;
  color: #fff;
}

.bg-primary-disabled {
  background-color: #0090ab;
  color: #fff;
}

.bg-info, .label-info, .modal-info .modal-info {
  background-color: #31b0d5;
  color: #fff;
}

.bg-info-active {
  background-color: #00acf2;
  color: #fff;
}

.bg-info-disabled {
  background-color: #5bc0de;
  color: #fff;
}

.bg-grey, .label-grey, .modal-grey .modal-grey {
  background-color: #b8c2cd !important;
  color: #fff;
}

.bg-grey-active {
  background-color: #73879c;
  color: #fff;
}

.bg-grey-disabled {
  background-color: #e6e9ed;
  color: #fff;
}

.bg-red-active {
  background-color: #d9534f;
  color: #fff;
}

.bg-red-disabled {
  background-color: #c9302c;
  color: #fff;
}

.bg-text {
  background-color: #73879c;
  color: #fff;
}

.bg-green-active {
  background-color: #00a583;
  color: #fff;
}

.bg-green-disabled {
  background-color: #00bfb6 !important;
  color: #fff;
}

.bg-yellow-active {
  background-color: #f2ac00;
  color: #fff;
}

.bg-yellow-disabled {
  background-color: #ffcf59;
  color: #fff;
}

.white-text {
  color: #fff !important;
}

.text-main-color {
  color: #0083a5 !important;
}

.text-primary-color {
  color: #2f3943 !important;
}

.text-secondary-color {
  color: #73879c !important;
}

.text-info-color {
  color: #31b0d5 !important;
}

.text-info-active {
  color: #00acf2;
}

.text-danger-color {
  color: #d9534f !important;
}

.text-success-color {
  color: #00bfb6 !important;
}

.success-color {
  color: #00a59e !important;
}

.alert-color {
  color: #ffc026 !important;
}

.danger-color {
  color: #d9534f !important;
}
.danger-color .bold {
  font-weight: 500;
}

.label-warning {
  background-color: #ffc026;
}

.label-warning[href]:hover,
.label-warning[href]:focus {
  background-color: #f2ac00;
}

body {
  overflow-x: hidden;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}
body section {
  padding: 30px 0;
}
body h1 {
  font-size: 25px;
  font-weight: 400 !important;
}
@media (min-width: 768px) {
  body h1 {
    font-size: 2.6vw;
  }
}
@media (min-width: 1300px) {
  body h1 {
    font-size: 40px;
  }
}
body h2 {
  font-size: 22px;
  font-weight: 400 !important;
  color: #fff;
}
@media (min-width: 768px) {
  body h2 {
    font-size: 2.2vw;
  }
}
@media (min-width: 1300px) {
  body h2 {
    font-size: 32px;
  }
}
body h3 {
  font-weight: 400 !important;
  color: #fff;
}
@media (min-width: 768px) {
  body h3 {
    font-size: 2vw;
  }
}
@media (min-width: 1300px) {
  body h3 {
    font-size: 28px;
  }
}
body p {
  font-size: 16px;
}
body .small {
  font-size: 14px;
}
body hr {
  margin-top: 1rem;
  margin-bottom: 2rem;
  border: 0;
  border-top: 2px solid #f2f3f6;
}
body .text-uppercase {
  text-transform: uppercase !important;
}
body .nav-link:hover {
  color: #0066cc;
}
body .btn {
  cursor: pointer;
  font-size: 16px;
}
body .btn i {
  padding: 0px 6px;
}
body .btn-small {
  cursor: pointer;
  font-size: 14px;
}
body .round-shape-text {
  background-color: #73879c;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
  color: white;
  width: 50px;
  height: 50px;
  margin: 0px;
  /*margin-left: 50%;*/
  float: none !important;
  margin: 0 auto;
}
body .history-state {
  opacity: 0.75;
  cursor: not-allowed;
  /*background-color:$grey-inactive;*/
}
body .boxing {
  padding-bottom: 20px;
}
body .full-width-container {
  max-width: 100%;
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}
body .btn.disabled {
  /*opacity: .5 !important;*/
  background-color: #b8c2cd !important;
}
body .navbar > .container, body .navbar > .container-fluid, body .navbar > .container-lg, body .navbar > .container-md, body .navbar > .container-sm, body .navbar > .container-xl, body .navbar > .container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 768px) {
  body .navbar > .container .container, body .navbar > .container-fluid .container, body .navbar > .container-lg .container, body .navbar > .container-md .container, body .navbar > .container-sm .container, body .navbar > .container-xl .container, body .navbar > .container-xxl .container {
    max-width: 100%;
  }
}
body body .navbar-nav > .user-menu > .dropdown-menu .user-body, body body .navbar-nav > .user-menu > .dropdown-menu .user-header, body body .navbar-nav > .user-menu > .dropdown-menu .user-footer {
  padding: 10px;
  border-radius: 0px;
  background-color: #fff;
  border-left: 1px solid #cfd8dc;
  border-right: 1px solid #cfd8dc;
}
@media (min-width: 768px) {
  body body .navbar-nav > .user-menu > .dropdown-menu .user-body, body body .navbar-nav > .user-menu > .dropdown-menu .user-header, body body .navbar-nav > .user-menu > .dropdown-menu .user-footer {
    border-left: 0px solid #cfd8dc;
    border-right: 0px solid #cfd8dc;
  }
}
@media (min-width: 1300px) {
  body body .navbar-nav > .user-menu > .dropdown-menu .user-body, body body .navbar-nav > .user-menu > .dropdown-menu .user-header, body body .navbar-nav > .user-menu > .dropdown-menu .user-footer {
    border-left: 0px solid #cfd8dc;
    border-right: 0px solid #cfd8dc;
  }
}

.main-footer {
  margin-left: 0px;
}

#cta {
  padding: 0px 0 10%;
  margin: -4% 0;
}

#mainNav {
  background-color: #fff;
}

.navbar {
  padding: 12px;
}
@media (max-width: 768px) {
  .navbar {
    padding: 23px;
    filter: drop-shadow(5px 5px 10px #cbcbcb);
  }
}

#mainNav .navbar-toggler {
  font-size: 20px !important;
  right: 0;
  padding: 8px;
  text-transform: uppercase;
  color: #2f3943;
  border: 0;
  background-color: #fff;
}

#mainNav .navbar-brand {
  width: 300px;
}
@media (max-width: 768px) {
  #mainNav .navbar-brand {
    width: 200px;
  }
  #mainNav .navbar-brand img {
    vertical-align: middle;
    border-style: none;
    height: 30px;
  }
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #fec503;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-weight: 400;
  padding: 0.75em 0;
  color: #2f3943;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #00c0f2 !important;
}

.nav-link:hover {
  background: transparent !important;
}

@media (min-width: 992px) {
  #mainNav {
    /*margin-bottom: 10px;*/
    /*padding-top: 5px;
    padding-bottom: 25px;*/
    padding: 0px;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    /*background-color: #f8f9fab8;*/
    background-color: rgba(248, 249, 250, 0.92);
    /*background-color: transparent;*/
  }
  #mainNav .navbar-brand {
    width: 350px;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em;
  }
  .notification {
    padding-left: 0px !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand {
    padding: 12px 0;
  }
}
.nav-link:focus-visible {
  outline: 0;
  box-shadow: none !important;
}

header.banner {
  text-align: center;
  color: white;
  background-image: url("../img/bg-01.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: top center;
  background-size: cover;
}
@media (max-width: 768px) {
  header.banner {
    background-image: url(../img/bg-01-mobile.jpg);
    background-attachment: scroll;
    background-position: bottom right;
    background-size: cover;
    height: 760px;
  }
}

header.banner .intro-text {
  padding-top: 75%;
  padding-bottom: 5px;
}
@media (max-width: 768px) {
  header.banner .intro-text {
    padding-top: 65%;
    padding-bottom: 6px;
    margin: 32px;
  }
}

header.banner .intro-text second_banner {
  /*padding-top: 150px;*/
  padding-top: 13%;
  padding-bottom: 5%;
}

header.banner .intro-text .intro-lead-in {
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
}

.service-heading {
  margin: 20px 5px;
  text-transform: none;
}
@media (max-width: 768px) {
  .service-heading {
    margin: 17px 5px;
  }
}

.intro-heading {
  background-color: #f2f3f6;
  /*line-height: 30px;*/
  margin-bottom: 50px;
  padding: 25px;
}

.intro-heading-second-banner {
  line-height: 30px;
  margin-bottom: 5%;
  margin-top: 10%;
  text-align: left;
}

.navbar-collapse h4 {
  margin-top: 0px;
  font-size: 18px;
}
.navbar-collapse .dropdown-menu {
  left: 0;
  min-width: 100%;
  margin: auto;
  width: 100% !important;
  border: 0px solid rgba(0, 0, 0, 0.15);
}

@media (min-width: 768px) {
  header.banner .intro-text {
    /*padding-top: 30%;*/
    padding-top: 25%;
    padding-bottom: 32%;
  }
  header.banner .intro-text .intro-lead-in {
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
  }
  header.banner .intro-text .intro-heading {
    /*font-size: 75px;*/
    /*font-size: 50px !important;*/
    /*line-height: 6px;*/
    margin-bottom: 50px;
    padding: 18px;
  }
  .navbar-collapse h4 {
    margin-top: 3px;
    font-size: 18px;
    margin-bottom: -1px;
  }
  .navbar-collapse .dropdown-menu {
    left: -22px;
    min-width: 15rem;
    margin: 0 0;
    border: 0px solid rgba(0, 0, 0, 0.15);
  }
}
table tbody h3 {
  font-size: 22px;
  margin-top: 0px;
}

.radio {
  position: relative;
  margin-bottom: 20px;
  padding-left: 21px;
  font-size: 14px;
  line-height: 1.6;
  min-height: 20px;
}

.section-subheading {
  color: #2f3943;
}

.numbers h4 {
  margin-top: 4%;
  margin-bottom: 0;
  text-transform: none;
  font-size: 50px;
  color: #00bfb6;
  text-align: center;
  font-weight: 600;
}
@media (min-width: 768px) {
  .numbers h4 {
    /*margin-top: 25px;*/
    font-size: 60px;
  }
}

.numbers p {
  margin-top: 2px;
  margin-bottom: 0;
  text-transform: none;
  font-size: 25px;
  color: #73879c;
  text-align: center;
  font-weight: 400;
}

.utile-links {
  padding-top: 0px;
  padding-bottom: 0px;
  /*text-align: center;*/
}
.utile-links p {
  margin-top: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-size: 25px;
  color: #73879c;
  text-align: center;
  font-weight: 400;
}
.utile-links img {
  vertical-align: middle;
  height: 165px;
}
.utile-links .btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-menu p {
  color: #fff;
}
.footer-menu ul {
  list-style: none;
  padding: 0;
}
.footer-menu li {
  text-transform: uppercase;
  margin-bottom: 10px;
}

footer {
  padding: 25px 0;
  text-align: center;
}

footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
}

footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
}

.menu-item .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 65%;
  margin-bottom: 0;
  /*font-size: 12px;*/
}

.menu-item input[type=submit] {
  display: inline-block;
  background: #66cc99;
  color: #fff;
  border: 0px;
  width: 40%;
  /*font-size: 16px;*/
}

input {
  border: 1px solid #cfd8dc;
}

table.dataTable tbody th, table.dataTable tbody td {
  padding: 23px 11px;
}

.internal_pages {
  background-color: #f2f3f6;
}
.internal_pages header.banner {
  text-align: center;
  color: white;
  background-image: url("../img/2231.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: top center;
  background-size: cover;
}
.internal_pages .second_banner {
  background-image: url("../img/108-mobile.png") !important;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: top right;
  background-size: cover;
}
@media (min-width: 992px) {
  .internal_pages .second_banner {
    background-image: url("../img/bg-03.png") !important;
  }
}
.internal_pages .second_banner-text {
  padding-top: 10% !important;
  padding-bottom: 1% !important;
}
.internal_pages .third_banner-text {
  padding-top: 5% !important;
  padding-bottom: 8% !important;
}
.internal_pages .box .btn {
  margin-top: 0px;
  margin-bottom: 0px;
}
.internal_pages .tab-content p {
  font-size: 18px !important;
  margin-top: 7px;
  margin-bottom: 24px;
  text-align: left;
  line-height: 1.5;
}
.internal_pages .box-body {
  padding: 20px 3%;
}
.internal_pages .box-body .btn-xs {
  cursor: pointer;
  font-size: 14px;
  border-radius: 1px;
}
.internal_pages .box-body .btn-xs i {
  padding: 4px 0;
}
.internal_pages .checkbox, .internal_pages .radio {
  position: relative;
  margin-bottom: 20px;
  padding-left: 24px;
  font-size: 14px;
  line-height: 1.6;
  min-height: 20px;
}

.logo-establishment {
  width: 56px;
  padding: 0px 4px;
}

.ibox-title {
  background-color: #ffffff;
  /*border-color: #e7eaec;*/
  -o-border-image: none;
     border-image: none;
  border-style: solid solid none;
  border-width: 2px 0 0;
  color: inherit;
  margin-bottom: 0;
  padding: 15px 90px 8px 15px;
  min-height: 48px;
  position: relative;
  clear: both;
  text-align: left !important;
}

.ibox-content {
  background-color: #ffffff;
  color: inherit;
  padding: 25px 20px 20px 20px;
  border-color: #e7eaec;
  -o-border-image: none;
     border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
  text-align: left !important;
  min-height: 150px;
}

.ibox-title h5 {
  color: #2f3943;
  display: inline-block;
  font-size: 16px;
  margin: 0 0 7px;
  padding: 0;
  text-overflow: ellipsis;
  float: none;
  text-align: left;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
  color: #2f3943;
}

.invoice {
  position: relative;
  background: #fff;
  border: 0px solid #f4f4f4;
  padding: 20px;
  margin: 10px 25px;
}

.table > thead > tr > th {
  border-bottom: 2px solid #f2f3f6 !important;
}

.nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: #0066cc;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f2f3f6 !important;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: 2px solid #f2f3f6;
  background-color: #fff;
  border-top: 2px solid #f2f3f6;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: 2px solid #f2f3f6 !important;
  background-color: #fff;
}/*# sourceMappingURL=portail-client-style.css.map */