@import "../../dist/css/scss/mixins/colors.scss";
@import "../../dist/css/scss/mixins/variables.scss";

.checkbox, .radio {
    position: relative;
    margin-bottom: 20px;
    padding-left: 32px;
    font-size: 14px;
    line-height: 1.6;
    min-height: 20px;
}

.checkbox input, .radio input {
    outline: none !important;
    display: none;
}

.checkbox .icons, .radio .icons {
    color: $info;
    left: 0;
    top: 0;
    position: absolute;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: block;
}

.checkbox .icons .first-icon, .radio .icons .first-icon, .checkbox .icons .second-icon, .radio .icons .second-icon {
    height: 18px;
    width: 18px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    filter: alpha(opacity = 100);
    border: 1px solid $border;
    background: white;
}

.checkbox .icons .first-icon:before, .radio .icons .first-icon:before, .checkbox .icons .second-icon:before, .radio .icons .second-icon:before {
    margin-top: 0px;
    display: block;
}

.checkbox .icons .second-icon, .radio .icons .second-icon, .checkbox.checked .first-icon, .radio.checked .first-icon {
    opacity: 0;
    filter: alpha(opacity = 0);
}

.checkbox.checked .second-icon, .radio.checked .second-icon {
    opacity: 1;
    filter: alpha(opacity = 100);
    border-color: $border;
    -webkit-transition: color 0.25s linear;
    transition: color 0.25s linear;
}

.checkbox.disabled, .radio.disabled {
    cursor: default;
}

.checkbox.disabled .first-icon, .radio.disabled .first-icon {
    opacity: 1;
    filter: alpha(opacity = 100);
    background: $background-color;
}

.checkbox.disabled .second-icon, .radio.disabled .second-icon {
    opacity: 0;
    filter: alpha(opacity = 0);
    background: $background-color;
}

.checkbox.disabled.checked .first-icon, .radio.disabled.checked .first-icon {
    opacity: 0;
    filter: alpha(opacity = 0);
}

.checkbox.disabled.checked .second-icon {
    opacity: 1;
    filter: alpha(opacity = 100);
    color: $info;
}

.radio {
    &.disabled.checked .second-icon {
        opacity: 1;
        filter: alpha(opacity = 100);
        color: $info;
    }

    .icons {
        .first-icon, .second-icon {
            border-radius: 50px;
        }
    }

    &.checked .second-icon:before {
        content: " ";
        width: 8px;
        height: 8px;
        background: $info;
        position: absolute;
        top: 50%;
        border-radius: 8px;
        left: 50%;
        margin-top: -4px;
        margin-left: -4px;
    }

    &.disabled.checked .second-icon:before {
        background: $info;
    }
}

.checkbox .icons {
    .first-icon, .second-icon {
        border-radius: 4px;
    }
}