@import url(../assets/fonts/roboto/stylesheet.css);
@import url(../assets/fonts/material-icons/material-icons.css);
@import url(../assets/fonts/font-awesome/css/font-awesome.css);
html {
  height: 100%; }

body {
  margin: 0;
  color: #000;
  font-family: roboto;
  height: 100%; }

* {
  box-sizing: border-box; }

#root {
  height: 100%; }

