@import "../../dist/css/scss/mixins/colors.scss";
@import "../../dist/css/scss/mixins/variables.scss";


/*iframe {
    position: fixed;
    padding-top: 55px;
    padding-top: 55px;
    border: 0 !important;
    width: 100%;
    height: 1000px;
    z-index: -1;
}*/

.domain-menu-logo {
    width: 25px;
    padding: 0px 0px 5px 4px;
    margin: 4px 13px 0px 6px;
}

.navbar-nav > .user-menu > .dropdown-menu {
    .user-body, .user-footer {
        padding: 10px;
        border-radius: 0px;
        border-top: 1px solid $border;
        border-bottom: 1px solid $border;
        background-color: $white;


        i:before {
            font-size: 18px;
            vertical-align: -6%;
            font-size: 15px;
            padding-right: 4px;

        }
    }

    .user-body {
        border-bottom: 0px solid $border;

        a {
            color: $brand !important;
        }

        a:hover, a:active, a:focus {
            color: $info !important;
        }
    }
}

.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
    position: absolute;
    right: 0;
    left: auto;
    border-left: 1px solid $border;
    border-right: 1px solid $border;
    background-color: $background-color;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    > p {
        z-index: 5;
        color: $text-primary;
        font-size: 14px;
        margin-top: 10px;
    }

    height: auto;
    /*height: 175px;*/
    padding: 10px;
    text-align: center;
}

.pmd-sidebar-left-fixed {
    left: 0;
    /*box-shadow: 2px 0px 15px #777;*/
    box-shadow: 5px 0px 15px rgba(153, 153, 153, 0.27);
}

.nav > li > a {
    &:hover, &:active, &:focus {
        /*background: #0083a5;*/
        border: 0px;
    }
}

.navbar-nav > li > a {
    padding-top: 14px;
    padding-bottom: 7px;
}

.nav {
    .open > a {
        background-color: #0083a5;
        border-color: #337ab7;
        border: 0px;

        &:focus, &:hover {
            background-color: #0083a5;
            border-color: #337ab7;
            border: 0px;
        }
    }

    > li > a {
        position: relative;
        display: block;
        padding: 14px 15px;
    }
}

.navbar-nav > .user-menu {
    .user-image {
        float: left;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-right: 10px;
        margin-top: -4px;
    }

    > .dropdown-menu {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        padding: 1px 0 0 0;
        border-top-width: 0;
        width: 240px;
    }
}

/*.brand {
    width: 145px;
    margin: 8px 25px;
}*/

.brand {
    width: 240px;
    margin: 0px -25px -18px
}

.btn {
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    /*border: 0px solid transparent !important;*/
}

.navbar-toggler {
    border-left: 2px solid rgba(255, 255, 255, 0.25) !important;
    border-right: 2px solid rgba(255, 255, 255, 0.25) !important;
    cursor: pointer;
    font-size: 17px;
    padding: 15px 21px;
}

.products__domain-menu {
    margin: 4px;
    margin-bottom: 0;
    /* border: 1px solid #e2ecef; */
    /* border-radius: 6px; */
    background-color: $white;
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $white;
    background-color: #b8c2cd;
    font-size: 15px;

    &:hover {
        background-color: #00c0f2 !important;
    }
}

.application-menu {
    height: 100%;
    width: 280px;
    position: fixed;
    z-index: 9001;
    top: 0;
    left: 0;
    background-color: $white;
    overflow-x: hidden;
    transition: .6s ease-out;
    transition-property: left,top;
}

.navbar-header {
    /*margin-right: 0;
    margin-left: 0;
    width: 208px;*/
    height: 55px;
    float: left;
    margin-right: 10px !important;
    margin-left: -2px !important;
    width: 250px !important;
    padding-top: 2px;
}

.brand_client {
    color: white;
    font-size: 80%;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 !important;
    background-color: #0082ab;
    color: #fff;
}

.products__domain-menu {
    margin: 4px;
    margin-bottom: 0;
    /* border: 1px solid #e2ecef; */
    /* border-radius: 6px; */
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
    background-color: #b8c2cd;
    font-size: 15px;
    padding: 0px 5px;
}


.nav-link:hover {
    color: #fff !important;
    background: #00c0f2 !important;
}


.menu-language {
    padding: 0px !important;

    li {
        list-style: none;
        display: block;
        white-space: nowrap;
        border-bottom: 1px solid $border;
        /*color: #444444;*/
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 8px 2px !important;
    }

    li:last-child {
        border-bottom: 0px solid $border;
    }

    li:hover {
        background: $background-color;
    }

    li:active {
        background: $background-color;
    }
}

.language-select-warning {
    height: auto;
    padding: 10px 35px 1px;
    text-align: center;
    line-height: 1.3;
}

