/*$background-test: ($background-color, 13.5%);*/
/*$brand: #0082ab;*/
/*$brand-inactive: #0057ab;
$brand-hover: #00c0f2;
$brand-active: #0057ab;*/
/*$brand: #0083a5;*/
/*$primary: #0083a5;*/
/*$primary: #0ec5ff;*/
/*$primary: #20a8d8;*/
/*$primary: #00c0f2;*/
/*$primary-inactive: #0095c5;
$primary-hover: #00c0f2;
$primary-active: #0066ab;*/
/*$info: #00c0f2;
$info-active: #00acf2;
$info-inactive: #00d4f2;*/
/*$grey: #cfd8dc;*/
/*$danger: #ff4835;*/
/*$danger: #f23200;*/
/*$success: #00d8cf;*/
/*$font_0: 'fontAwesome';
$font_1: 'Helvetica Neue';
$font_2: 'Helvetica';
$font_3: 'Arial';
$font_4: 'sans-serif';*/
/*$sub-brand-orange: #f74141;*/
/*$background-test: ($background-color, 13.5%);*/
/*$brand: #0082ab;*/
/*$brand-inactive: #0057ab;
$brand-hover: #00c0f2;
$brand-active: #0057ab;*/
/*$brand: #0083a5;*/
/*$primary: #0083a5;*/
/*$primary: #0ec5ff;*/
/*$primary: #20a8d8;*/
/*$primary: #00c0f2;*/
/*$primary-inactive: #0095c5;
$primary-hover: #00c0f2;
$primary-active: #0066ab;*/
/*$info: #00c0f2;
$info-active: #00acf2;
$info-inactive: #00d4f2;*/
/*$grey: #cfd8dc;*/
/*$danger: #ff4835;*/
/*$danger: #f23200;*/
/*$success: #00d8cf;*/
/*$font_0: 'fontAwesome';
$font_1: 'Helvetica Neue';
$font_2: 'Helvetica';
$font_3: 'Arial';
$font_4: 'sans-serif';*/
/*$sub-brand-orange: #f74141;*/
/* General Links */
a {
  color: #73879c;
  text-decoration: none !important; }

a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none !important;
  color: #31b0d5; }

.bg-white {
  background-color: #fff !important; }

.bg-red {
  background-color: #d43f3a !important; }

.bg-blue {
  background-color: #0066ab !important; }

.bg-blue {
  background-color: #0066ab !important; }

.bg-green {
  background-color: #00a59e !important; }

.bg-black {
  background-color: #2f3943 !important; }

.bg-grey {
  background-color: #f2f3f6 !important; }

.bg-grey-background {
  background-color: #f2f3f6 !important; }

.bg-yellow {
  background-color: #ffc026 !important; }

.bg-logo-grey {
  background-color: #b8c2cd !important;
  color: #fff !important; }

.bg-logo-grey-second {
  background-color: #c1ccd3 !important;
  color: #fff !important; }

.bg-logo-grey-third {
  background-color: #acb8c5 !important;
  color: #fff !important; }

.bg-sub-brand-blue {
  background-color: #0066cc !important;
  color: #fff !important; }

.bg-sub-brand-orange {
  background-color: #ff4936 !important;
  color: #fff !important; }

.bg-sub-brand-green {
  background-color: #66cc99 !important;
  color: #fff !important; }

.bg-sub-brand-light-blue {
  background-color: #32a2d7 !important;
  color: #fff !important; }

.bg-brand, .label-brand, .modal-brand .modal-brand {
  background-color: #0083a5 !important;
  color: #fff; }

.bg-primary, .label-primary, .modal-primary .modal-primary {
  background-color: #0083a5 !important;
  color: #fff; }

.bg-primary-active {
  background-color: #0066ab;
  color: #fff; }

.bg-primary-disabled {
  background-color: #0090ab;
  color: #fff; }

.bg-info, .label-info, .modal-info .modal-info {
  background-color: #31b0d5;
  color: #fff; }

.bg-info-active {
  background-color: #00acf2;
  color: #fff; }

.bg-info-disabled {
  background-color: #5bc0de;
  color: #fff; }

.bg-grey, .label-grey, .modal-grey .modal-grey {
  background-color: #b8c2cd !important;
  color: #fff; }

.bg-grey-active {
  background-color: #73879c;
  color: #fff; }

.bg-grey-disabled {
  background-color: #e6e9ed;
  color: #fff; }

.bg-red-active {
  background-color: #d9534f;
  color: #fff; }

.bg-red-disabled {
  background-color: #c9302c;
  color: #fff; }

.bg-text {
  background-color: #73879c;
  color: #fff; }

.bg-green-active {
  background-color: #00a583;
  color: #fff; }

.bg-green-disabled {
  background-color: #00bfb6 !important;
  color: #fff; }

.bg-yellow-active {
  background-color: #f2ac00;
  color: #fff; }

.bg-yellow-disabled {
  background-color: #ffcf59;
  color: #fff; }

.white-text {
  color: #fff !important; }

.text-main-color {
  color: #0083a5 !important; }

.text-primary-color {
  color: #2f3943 !important; }

.text-secondary-color {
  color: #73879c !important; }

.text-info-color {
  color: #31b0d5 !important; }

.text-info-active {
  color: #00acf2; }

.text-danger-color {
  color: #d9534f !important; }

.text-success-color {
  color: #00bfb6 !important; }

.success-color {
  color: #00a59e !important; }

.alert-color {
  color: #ffc026 !important; }

.danger-color {
  color: #d9534f !important; }
  .danger-color .bold {
    font-weight: 500; }

.label-warning {
  background-color: #ffc026; }

.label-warning[href]:hover,
.label-warning[href]:focus {
  background-color: #f2ac00; }

.module-impression .icon-rounded {
  background-color: #3F51B5;
  color: #ffffff; }

.module-impression .icon-inner {
  margin-right: 0px;
  width: 66px;
  height: 66px;
  text-align: center; }
  .module-impression .icon-inner:before {
    font-size: 28px;
    color: #73879c; }

.module-impression .icon-rounded {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  padding: 10px;
  background-color: #fff;
  color: #73879c !important;
  border: 2px solid #73879c; }

.module-impression .icon-inner-small {
  margin-right: 0px;
  width: 66px;
  height: 66px;
  text-align: center; }
  .module-impression .icon-inner-small:before {
    font-size: 28px;
    color: #73879c; }

.module-impression .icon-rounded {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  padding: 10px;
  background-color: #fff;
  color: #73879c !important;
  border: 2px solid #73879c; }

.module-impression .print-to-list a {
  display: block;
  /*text-decoration: none;*/
  padding: 10px;
  margin-bottom: 10px; }
  .module-impression .print-to-list a:hover {
    -webkit-text-fill-color: #31b0d5;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transition: all .10ms linear;
    transition: all .10ms linear; }
