@import "../../dist/css/scss/mixins/_colors.scss";
@import "../../dist/css/scss/mixins/_variables.scss";


/*.svg-success {
    stroke-width: 2px;
    stroke: $success;
    fill: none;

    & path {
        stroke-dasharray: 17px, 17px;
        stroke-dashoffset: 0px;
        -webkit-animation: checkmark 0.5s ease-in-out 0.7s backwards;
        animation: checkmark 0.5s ease-in-out 0.7s backwards;
    }

    & circle {
        stroke-dasharray: 76px, 76px;
        stroke-dashoffset: 0px;
        transform: rotate(-90deg);
        transform-origin: 50% 50%;
        -webkit-animation: checkmark-circle 0.6s ease-in-out forwards;
        animation: checkmark-circle 0.6s ease-in-out forwards;
    }
}

@keyframes checkmark {
    0% {
        stroke-dashoffset: 17px;
    }

    100% {
        stroke-dashoffset: 0
    }
}

@keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 76px;
    }

    100% {
        stroke-dashoffset: 0px;
    }
}*/







@-webkit-keyframes checkmark {
    0% {
        stroke-dashoffset: 50px;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@-ms-keyframes checkmark {
    0% {
        stroke-dashoffset: 50px;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes checkmark {
    0% {
        stroke-dashoffset: 50px;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 240px;
    }

    100% {
        stroke-dashoffset: 480px;
    }
}

@-ms-keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 240px
    }

    100% {
        stroke-dashoffset: 480px
    }
}

@keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 240px
    }

    100% {
        stroke-dashoffset: 480px
    }
}


.inlinesvg .svg svg {
    display: inline
}


.icon--order-success svg path {
    -webkit-animation: checkmark 0.25s ease-in-out 0.7s backwards;
    animation: checkmark 0.25s ease-in-out 0.7s backwards
}

.icon--order-success svg circle {
    -webkit-animation: checkmark-circle 0.6s ease-in-out backwards;
    animation: checkmark-circle 0.6s ease-in-out backwards
}










/*.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 4;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 4;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #7ac142;
    }
}*/