@import "../../dist/css/scss/mixins/_colors.scss";
@import "../../dist/css/scss/mixins/_variables.scss";


/*.nav > li > a {
    position: relative;
    display: table-cell;

}*/






.bg-step-wizard {
    /*background-color: $background-color;*/
    background-color: $grey;

    @media (min-width: 1030px) {
        /*background-color: $success-inactive;*/
        background-color: $grey;
    }
}


    .small {
        font-size: 14px;
        vertical-align: 2px;
        margin-left: 10px;
    }



ul.nav-wizard {
    /*background-color: $info-inactive;*/
    /*border: 0px solid $active;*/
    background-color: $grey;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 0px;
    position: relative;
    overflow: hidden;

    .small {
        font-size: 14px;
        vertical-align: 5px;
    }


    &:before {
        position: absolute;
    }

    &:after {
        display: block;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 138px;
        height: 60px;
        /*border-top: 1px solid $white;
        border-bottom: 1px solid $white;*/
        z-index: 11;
        content: " ";
    }

    li {
        color: $white;
        /*background-color: #00bfb6;*/
        background-color: $grey;
        position: relative;
        float: left;
        height: 50px;
        display: inline-block;
        text-align: left;
        /* padding: 0 20px 0 35px; */
        padding: 0px 30px 0 13px;
        margin: 0;
        font-size: 29px;
        line-height: 55px;
        width: 100%;


        a {
            color: $white;
            padding: 0;

            &:hover {
                background-color: transparent;
            }
        }

        &:before {
            position: absolute;
            display: none;
            border: 30px solid transparent;
            border-left: 16px solid $white;
            border-right: 0;
            top: -1px;
            z-index: 10;
            content: '';
            right: -16px;
        }

        &:after {
            position: absolute;
            display: none;
            border: 30px solid transparent;
            /*border-left: 16px solid $success-inactive;*/
            border-left: 16px solid $grey;
            border-right: 0;
            top: -1px;
            z-index: 10;
            content: '';
            right: -15px;
        }

        &.active {
            color: $white;
            background: $info-active;



            &:after {
                border-left: 16px solid $info-active;
            }

            a {
                color: $white;
                background: $info-active;

                &:active, &:visited, &:focus {
                    color: $white;
                    /*background: $info-active;*/
                }
            }
        }
    }

    .active ~ li {
        color: $white;
        /*background-color: $success-inactive;*/
        border-left: 16px solid $grey;

        &:after {
            /*border-left: 16px solid $success-inactive;*/
            border-left: 16px solid $grey;
        }

        a {
            /*background-color: $success-inactive;*/
            border-left: 16px solid $grey;


            &:active, &:visited, &:focus {
                color: $white;
                /*background-color: $success-inactive;*/
            }
        }
    }
    /*.active-title {
        background: red !important;

        a {
            background: red !important;
        }

        &:after {
            border-left: 16px solid red !important;
        }
    }*/
    /*&.nav-wizard-backnav {
        li:hover {
            color: $white;
            background-color: $info-active;

            &:after {
                border-left: 16px solid $info-active;
            }

            a {
                color: $white;
                background-color: $success-inactive;

                &:active, &:visited, &:focus {
                    color: $white;
                    background-color: $success-inactive;
                }
            }
        }*/
    /*&:after {

            &:after {
                border-left: 16px solid $success-inactive;
            }

            a {
                color: $white;
                background-color: $success-inactive;

                &:active, &:visited, &:focus {
                    color: $white;
                    background-color: $success-inactive;
                }
            }
        }
    }*/
    @media (min-width: 1030px) {
        li {
            width: auto;
            text-align: center;
            padding: 0px 46px 0 44px;
            font-size: 30px;
            height: 60px;
            line-height: 60px;




            &:before {
                position: absolute;
                display: block;
                border: 30px solid transparent;
                border-left: 16px solid $white;
                border-right: 0;
                top: -1px;
                z-index: 10;
                content: '';
                right: -16px;
            }

            &:after {
                position: absolute;
                display: block;
                border: 30px solid transparent;
                /*border-left: 16px solid $success-inactive;*/
                border-left: 16px solid $grey;
                border-right: 0;
                top: -1px;
                z-index: 10;
                content: '';
                right: -15px;
            }
        }
    }
}