@import "../../dist/css/scss/mixins/_colors.scss";
@import "../../dist/css/scss/mixins/_variables.scss";


body {
    width: 1000px !important;
    /*background-color: $background-color;*/
    margin: auto;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.DLGL {

    .fixed .wrapper {
        overflow: hidden;
        background-color: $background-color;
    }

    .main-footer {
        margin-left: 0px;
    }

    .row {
        margin: 10px 0;
    }

    .brand {
        display: none;
    }

    .navbar-toggler {
        display: none !important;
    }

    .navbar-custom-menu {
        display: none;
    }

    .pmd-sidebar {
        display: none !important;
    }

    h4 {
        text-transform: uppercase;
        font-size: 14px;
    }

    .navbar {
        ul {
            font: 14px;
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: $grey-active;
            text-align: center;
            padding: 14px 4px;
            text-decoration: none;
        }

        li a:hover:not(.active) {
            color: $info;
        }
    }
    /*.banner-container {
        position: relative;
        z-index: 1;
        max-width: 100%;
        background-color: #fce122;
        height: 118px;
    }*/
    .banner {
        /*width: 100%;*/
        margin: 0 auto !important;
        min-height: 330px;
        background: url(../img/infirmiere.png) no-repeat right;
        background-size: cover;
        margin-top: 106px !important;
    }


    .brand-client {
        position: relative;
        padding-top: 129px;
        float: left;
        padding-left: 20%;
    }

    .container {
        width: 1000px;
        padding-right: 0px;
        padding-left: 0px;

        div:last-child {
            border-right: 0px solid $background-color;
        }
    }


    .box-small {
        background-color: $white;
        width: 200px;
        height: 50px;
        border-right: 10px solid $background-color;
        float: left;
        text-align: center;
        margin-top: 3px;

        h4 {
            margin: 20px 0px;
        }

        p {
            margin: 15px;
        }
    }

    .box-medium {
        background-color: $white;
        width: 500px;
        border-right: 10px solid $background-color;
        float: left;
        text-align: left;
        margin-top: 10px;
        min-height: 350px;

        h4, p {
            margin: 20px;
        }

        ul, ol {
            color: $grey-active;
        }
    }

    .box-large {
        background-color: $white;
        width: 1000px;
        border-right: 10px solid $background-color;
        float: left;
        text-align: left;
        margin-top: 10px;
        min-height: 150px;

        h4, p {
            margin: 20px;
        }

        a {
            color: $info;
            font-size:16px;
        }
    }



    .box-large-video {
        width: 1000px;

    }

    iframe {
        position: static;
        padding-top: 10px;
        width: 1000px;
        height: 500px;
    }
}